<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Разрешения -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.example.medtalon.data.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/medical_services_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/medical_services_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test2"
        tools:targetApi="31">
        <activity
            android:name="com.example.medtalon.web.UrlLoader"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.MyAnalysisActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.ChoiceAnalysisActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.DrugDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.PillsBookActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.PharmacyActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.PaidServicesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.MedicalInstitutionsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.CallDoctorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.GetTalonActivity"
            android:exported="false" />
        <activity
            android:name="com.example.medtalon.presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.medtalon.presentation.LoginActivity"
            android:exported="false" />

        <meta-data
            android:name="org.osmdroid.CONFIG_FILE"
            android:value="osmdroid/config" />
    </application>

</manifest>